BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "A[0]" SITE "3" ;
LOCATE COMP "A[1]" SITE "2" ;
LOCATE COMP "A[2]" SITE "1" ;
LOCATE COMP "B[0]" SITE "8" ;
LOCATE COMP "B[1]" SITE "7" ;
LOCATE COMP "B[2]" SITE "4" ;
LOCATE COMP "Q[0]" SITE "24" ;
LOCATE COMP "Q[1]" SITE "21" ;
LOCATE COMP "Q[2]" SITE "17" ;
LOCATE COMP "Q[3]" SITE "16" ;
LOCATE COMP "C[0]" SITE "48" ;
LOCATE COMP "C[1]" SITE "43" ;
