BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "ANF" SITE "20" ;
LOCATE COMP "FA[0]" SITE "67" ;
LOCATE COMP "FA[1]" SITE "70" ;
LOCATE COMP "KFZA[2]" SITE "75" ;
LOCATE COMP "KFZA[1]" SITE "74" ;
LOCATE COMP "KFZA[0]" SITE "71" ;
LOCATE COMP "CMR[0]" SITE "40" ;
LOCATE COMP "CMR[1]" SITE "41" ;
LOCATE COMP "PR" SITE "34" ;
