BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "y[1]" SITE "99" ;
LOCATE COMP "y[2]" SITE "98" ;
LOCATE COMP "y[3]" SITE "88" ;
LOCATE COMP "y[4]" SITE "87" ;
LOCATE COMP "y[5]" SITE "86" ;
LOCATE COMP "y[6]" SITE "85" ;
LOCATE COMP "y[7]" SITE "82" ;
LOCATE COMP "y[8]" SITE "81" ;
LOCATE COMP "D15" SITE "62" ;
LOCATE COMP "SEG[0]" SITE "54" ;
LOCATE COMP "SEG[1]" SITE "53" ;
LOCATE COMP "SEG[2]" SITE "52" ;
LOCATE COMP "SEG[3]" SITE "51" ;
LOCATE COMP "EN" SITE "1" ;
LOCATE COMP "MR[0]" SITE "40" ;
LOCATE COMP "MR[1]" SITE "41" ;
LOCATE COMP "PR" SITE "34" ;
LOCATE COMP "RES" SITE "2" ;
LOCATE COMP "Start" SITE "43" ;
LOCATE COMP "Stop" SITE "48" ;
