IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "MLEFT[0]" SITE "39" ;
LOCATE COMP "MLEFT[1]" SITE "35" ;
LOCATE COMP "MRIGHT[0]" SITE "40" ;
LOCATE COMP "MRIGHT[1]" SITE "41" ;
LOCATE COMP "TLEFT" SITE "20" ;
LOCATE COMP "D14" SITE "63" ;
LOCATE COMP "D15" SITE "62" ;
LOCATE COMP "LED[0]" SITE "24" ;
LOCATE COMP "LED[1]" SITE "21" ;
LOCATE COMP "LED[2]" SITE "17" ;
LOCATE COMP "LED[3]" SITE "16" ;
LOCATE COMP "TRIGHT" SITE "70" ;
LOCATE COMP "DIR" SITE "43" ;
LOCATE COMP "RES" SITE "48" ;
